/* src/components/styles/Overview.css */
.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.card {
  padding: 30px;
  border-radius: 5px;
  color: white;
  width: 200px;
  text-align: center;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: rgb(229, 229, 41);
}
